[defaults]
inventory = inventories
roles_path = ./roles
log_path = ./logs/ansible.log
retry_files_enabled = False
deprecation_warnings = False
host_key_checking = False
timeout = 30
force_color = True
remote_user = ansible
#private_key_file = ~/.ssh/id_rsa_awx
callbacks_enabled=timer, profile_tasks, profile_roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o StrictHostKeyChecking=no -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa
pipelining = True
connect_timeout = 30

# collections]
# aths = /home/ansible/.ansible/collections
